@model ProductViewModel
@{
    ViewBag.Title = "UpdateProduct Page";
}
<form asp-controller="Product" asp-action="UpdateProduct" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />
    <div class="card">
        <div class="card-header">
            Update Product Here..
        </div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Product.Name"></label>
                <input asp-for="Product.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Description"></label>
                <textarea asp-for="Product.Description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage"></label>
                <div class="custom-file">
                    <input asp-for="ProductImage" class="custom-file-input" />
                    <label class="custom-file-label">If You Want to Upload New Product Image Here</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Product.Active">
                        <input asp-for="Product.Active" />
                        @Html.DisplayNameFor(m => m.Product.Active)
                    </label>
                </div>
            </div>
            <hr />
            <label>Existing Image</label>
            <div style="width:200px;height:auto">
                @if (Model.Product.Images.Any())
                {
                    <img src="@Model.Product.Images[0]" />
                }
                else
                {
                    <h5>No Preview Available</h5>
                }

            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </div>
</form>

@section Script{
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on('change', function () {
                var fileName = $(this).  val().  split('\\').pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}